@model Webmail.Core.Entities.Usuario;



<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema Webmail</h1>
</div>
<div class="text-center">
<img src="~/img/mail.jpg"  width="300px" height="300px" />
</div>